.card{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.card .card-header{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .card-header .card-title{
    font-size: var(--lg);
    font-weight: bold;
}
.card .card-header img{
    max-width: 5rem;
}
.card .card-body{
    text-decoration: none;
}
.card .card-body .card-text{
    font-size: var(--md);
    font-weight: bold;
}
.card .card-action{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .card-action a{
    color: #fff;
    font-size: var(--md);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
