body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /*background:linear-gradient(-120deg, #a70707, #680303, #3a1111);*/
    /*background:linear-gradient(-120deg, #a70707, #680303, #d72f2f);*/
    /*background: url("/public/images/login-bg.jpg") no-repeat center;*/
    /*background-color: #7f0202;*/
    /*background-blend-mode: darken;*/
    /*background-size: cover;*/

    background: url("/public/images/homebgmb.png") no-repeat center;
    object-fit: cover;
    background-size:cover;

}

.dark-bg{
    position: absolute;
    min-height: 100vh;
    max-height: 800vh;
    max-width: 100vw;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

form{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    margin-bottom: 2rem;
}

input {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}


.form-header .form-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.lock-ico{
    content: url("/public/images/icons/lock.png");
    margin-right: 1rem;
}

.error{
    padding: 0.5rem;
    color: #ff0000;
    text-align: center;
    /*margin-bottom: 1rem;*/
}



input[type="text"],input[type="email"],input[type="password"]{
    border:none;
    border-bottom: 1px solid #929fba;
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    padding: 1.1rem 1.5rem;
    font-size: 1.3rem;
}

input[type="text"]:focus,input[type="password"]:focus{
    border-bottom: 2px solid #ff0000;
}



:focus{
    outline: none;
}


input[type="submit"],input[type="reset"] {
    width: 200px;
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    margin: 10px;
    border: none;
    font-size: 1.0rem;
    padding: 1rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
        box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
}

input[type="submit"]:hover,input[type="reset"]:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/*input[type="reset"] {*/
/*    background-image: linear-gradient(to right, #e53935 0%, #e35d5b  51%, #e53935  100%);*/
/*    margin: 10px;*/
/*    border: none;*/
/*    font-size: 1rem;*/
/*    padding: 15px 45px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    transition: 0.5s;*/
/*    background-size: 200% auto;*/
/*    color: white;*/
/*    box-shadow: 0 0 20px #eee;*/
/*    border-radius: 10px;*/
/*    display: block;*/
/*}*/

/*input[type="reset"]:hover {*/
/*    background-position: right center; !* change the direction of the change here *!*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

.form-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*input[type="reset"]{*/
/*    width: 300px;*/
/*    height: 40px;*/
/*    margin: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    background-color: #031272;*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="reset"]:hover{*/
/*    background-color: #ffffff;*/
/*    color: #0000ff;*/
/*}*/

input[type="button"]{
    width: 200px;
    height: 40px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

input[type="button"]:hover{
    background-image: linear-gradient(to right, rgb(211, 16, 39) 0%, rgb(234, 56, 77) 51%, rgb(211, 16, 39) 100%);
    color: #ffffff;
}

.pass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-form{
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 50px;
}


.show-password, .hide-password{
    width: 25px;
    height: 25px;
    position: relative;
    right: 40px;
    cursor: pointer;
    translate: -15px 0;
}

.show-password{
    content: url("/public/images/icons/showPass.png");

}

.hide-password{
    content: url("/public/images/icons/hidePass.png");
}



.sign-in-image {
    border-radius: 50px;
    margin: 0 2rem;
    min-width: 30vw;
    min-height: 60vh;
    background: url("/public/images/logimg.png") no-repeat center center;
    background-size: cover;
}

.form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-footer-text{
    text-align: center;
}


@media only screen and (max-width: 500px) {
    .outer-form{
        margin-top: 8vh;
        flex-direction: column;
    }
    .sign-in-image{
        min-width: 60vw;
        min-height: 15vh;
    }

    .form-header .form-title{
        font-size: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 320px) {

    .outer-form{
        padding: 3rem;
        border-radius: 0;
        border: none;
        background: rgba(255,255,255,0.3);
    }

    .form-footer-text{
        color: white;
        font-weight: bold;
    }
    .form-buttons{
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    input[type="button"],input[type="submit"],input[type="reset"]{
        width: 200px;
        height: 40px;
        margin: 5px;
        font-size: 0.8rem;
    }

    input[type="text"],input[type="email"],input[type="password"]{
        width: 200px;
        height: 40px;
        margin: 10px;
        font-size: 1rem;
    }

}
