.nav-dash{
    position: absolute;
    z-index: 9999;
    color: #000000;
    left: 1vw;
    top: 13vh;
}

.nav-dash:hover{
    cursor: pointer;
}

.nav-dash .dash-btn{
    background: rgba(255,255,255,0.7);
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.nav-dash .dash-btn .dash-icon{
    margin-right: 0.4rem;
}

@media only screen and (max-width: 500px) {
    .nav-dash{
        left: 1vw;
        top: 13vh;
    }

    .nav-dash .dash-btn{
        border-radius: 50px;
    }

    .nav-dash .dash-btn .dash-icon{
        margin: 0;
    }

    .nav-dash .dash-btn .dash-icon img{
        width: 30px;
    }

    .nav-dash .dash-btn .dash-text{
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .nav-dash {
        position: absolute;
        left: 1vw;
        top: 15vh;
    }
}