a{
    text-decoration: none;
}
body{
    background-color: #ffffff;

}

.card{
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;

}

.card-header{
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
}

.card-body{
    border-radius: 3px;
    margin-bottom: 10px;
}

.card-footer{
    border-radius: 3px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.card-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}



.g-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mx-30{
    margin-right: 30px;
    margin-left: 30px;
}

.mx-20{
    margin-right: 20px;
    margin-left: 20px;
}

.min-w-200{
    min-width: 200px;
}

.max-w-200{
    max-width: 200px;
}

.circle{
    border-radius: 50%;
}

.btn-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-primary{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.btn-secondary{
    background-color: #808080;
    border-color: #000000;
    color: #333;
}




