* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration: none;
}
html, body {
    margin: 0;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden
}
body{
    position: relative;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0.5);
    border-top: 1px solid #e5e5e5;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/*body {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    overflow-x: hidden;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.home-bg{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: brightness(0.5);
    object-fit: cover;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navLi{
    padding: 1rem;
    background: #b90202;
    border-radius: 50px;
    font-weight: bolder;
    box-shadow: 0 0 10px #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navLi:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: white;
    color: #b90202;
}

/*Text*/
.text-white{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;

}

/*Cards*/


.card{
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255,0.3);
    width: 380px;
    height: 200px;
    align-items: center;
    border-radius: 10px;
}
.card:hover{
    background: rgba(255, 255, 255,0.5);
    transform: scale(1.05);
}

.card .card-title{
    font-size: 3.5em;
    font-weight: bolder;
    margin-left: 1rem;
    text-align: center;
}
.card .card-secondary-title{
    font-size: 2em;
    font-weight: bold;
    margin-left: 1rem;
    text-align: center;
}

.card .card-header{
    margin: 0 1rem;
    width: 10vw;
    height: 10vh;
    border-radius: 20rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card .card-body{
    width: 20vw;
    height: 10vh;
    color: #ffffff;
    border-left: 1px solid #ccc;
    /*border-radius: 10px;*/
    padding: 1rem;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card .img-card{
    display: flex;
    opacity: 100%;
    width: 250px;
}

.card-grp{
    position: absolute;
    /*bottom: 20%;*/
}
/*Side Bar*/
.side-bar{
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10%;
    width: 25%;
    right: 1rem;
    z-index: 5;
}
.d-card{
    border-radius: 50px;
    margin: 1rem;
    display: flex;
    color: white;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
}

.d-card .card-header{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem;
}

.d-card .card-body{
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin:0 1rem;
}

.d-card .card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.s-card-grp{
    display: none;
}


.super-header{
    display: flex;
    justify-content: flex-end;
}

/* ========= BIG SCREEN STYLES ================== */

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255,0.2);
    width: 100%;
    min-height: 50vh;
    border-bottom-right-radius: 280px;
}

.nav-beg{
    width: 100%;
}

.nav-logo h1{
    color: #fff;
}

.nav-title{
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}
.nav-desc{
    width: 80%;
}

.g-flex{
    display: flex;
}

.g-flex-align-center{
    display: flex;
    align-items: center;
}

.g-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.mobile{
    display: none;
}

.web{
    display: flex;
}

.btn-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mx-1{
    margin: 0 1rem;
}

.btn-panel-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.btn-primary{
    background: #2e6da4;
    color: #fff;
}

.btn-primary:hover{
    background: #337ab7;
}


.btn-red {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
}



.btn-red:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.g-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.g-flex-start{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

header {
    width: 40%;
    min-height: 10vh;
    max-height: 8vh;
    /*background: #A4152D;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 90%;
    max-width: 90%;
    height: 7vh;
    min-height: 60px;
    background-color: inherit;
    color: rgba(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav .logo {
    font-size: 38px;
    letter-spacing: 5px;
}

.navList {
    font-size: 17px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: inherit;
    text-decoration: none;
}

.navBtn {
    display: none;
    cursor: pointer;
}

/* 3divs for 3line button */
.navBtn div {
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: all 0.5s ease-in;
}


@media screen and (max-width: 1600px) {
    .side-bar{
        display: flex;
    }
    .card-grp{
        width: 70vw;
        justify-content: center;
    }
    .card{
        width: 280px;
        height: 180px;
    }
    .card .card-header{
        height: 50%;
        margin: 0 1rem;
    }
    .card .card-header img{
        height: 80%;
    }

    .card .card-body{
        margin-left: 2%;
        width: 50%;
    }
    .card .card-body .card-title{
        margin-left: 0;
    }
    .card .card-body .card-secondary-title{
        margin-left: 1%;
    }

    .card .card-title{
        font-size: 2.0rem;
    }
    .card .card-secondary-title{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1280px) {
    .text{
        font-size: 1.2em;
    }


    .card{
        width: 300px;
        height: 150px;
    }
    .card .card-title{
        font-size: 2.5em;
    }
    .card .card-secondary-title{
        font-size: 1.5em;
    }

    .d-card{

    }
    .d-card .card-header{
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    .d-card .card-body{
        font-size: 1.0rem;
        /*margin: 0.5rem;*/
    }

    .d-card .card-footer .btn{
         padding: 0.2rem 0.6rem;
    }

    .nav-title{
        font-size: 3rem;
    }
    .logo{
        width: 10rem;
    }
}
@media only screen and (max-width: 500px) {
    .btn-panel-sm{
        display: flex;
    }

    .card:hover{
        transform: scale(1.0);
    }
    .g-flex-align-center{
        gap: 4rem;
    }
    body{
        max-height: 100vh;
    }
    .web{
        display: none;
    }

    .mobile{
        display: flex;
    }
    .btn-panel-sm{
        margin-bottom: 0.4rem;
    }
    .btn-panel{
        display: none;
    }
    .s-card-grp{
        display: flex;
        margin-top: 18vh;
    }
    .s-card{
        width: 50%;
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255,0.3);
        align-items: center;
        border-radius: 10px;
    }
    .s-card .s-card-title{
        font-size: 1.2rem;
        color: white;
        margin: 0.5rem;
        text-align: center;
    }

    .s-card .s-card-body{
        margin: 0.2rem;
    }

    .s-card-body span{
        padding: 0;
        font-size: 0.9rem;
        color: white;
        text-align: center;
    }


    .side-bar{
        display: none;
    }


    .home-bg{
        height: 100vh;
        content: url("/public/images/homebgmb.png");
    }

    header{
        width: 15%;
        max-height: 8vh;
        z-index: 2;
    }

    .super-header{
        height: 10vh;
    }

    nav {
        padding: 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .nav-title{
        font-size: 1.5rem;
    }
    .nav-logo{
        position: absolute;
        width: 100vw;
        max-height: 40vh !important;
        min-height: inherit;

        /*min-height: 40vh !important;*/
        border-bottom-right-radius: 0;
    }
    .g-flex-col{
        display: flex;
        align-items: flex-start;
    }
    .nav-logo img{
        width:5rem;
    }
    .nav-desc{
        align-items: center;
        width: 100%;
        padding: 0.5em;
    }
    .nav-desc p{
        font-size: 1.0rem;
    }


    .navList {
        /* stick the ul (navList) to a window just below navbar  */
        position: absolute;
        right: -0.5rem;
        height: 99.9vh;
        top: clamp(0px, 0vh, 7vh);
        /* li from row to column */
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        justify-content: center;
        /* make it a bit pretty :) */
        padding: 5vh 15vw;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 26px;
        letter-spacing: 1px;
        /* blur the background */
        backdrop-filter: blur(5px);
        /* will move container off the screen temporarily :)*/
        transform: translate(100%);
        transition: transform 0.5s ease-out;
    }

    .navLi {
        opacity: 0;
        /* transform: translate(250px, 0); */
        /* transition: all 0.4s ease-in 0.1s; */
    }

    /* showing navBtn button */
    .navBtn {
        display: block;
    }
    .home-body{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .card-grp{
        width: 90%;
        bottom: 5vh;
    }



    .card{
        width: 100%;
        height: 90%;
        margin: 3px;
        padding: 0;
    }

    .card .card-header img{
        height: 50px;
    }

    .card .card-header{
        background: transparent;
    }


    .card .card-title{
        font-size: 1.5rem;
    }

    .card .card-secondary-title{
        font-size: 1rem;
    }
    .card .card-body{
        width: 60%;
    }


}

@media only screen and  (max-width: 400px){
    .card:hover{
        transform: scale(1.0);
    }
    .g-flex-align-center{
        gap: 0;
    }

    .nav-desc p{
        font-size: 0.8rem;
    }

    .nav-logo img{
        width: 3rem;
    }
    .btn{
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }

    .btn-red{
        margin:0 0.5rem 0 0.5rem;
    }

    .card{
        max-height: 100px;
        margin: 0.1rem;
    }

    .card .card-header{

    }

    .card .card-header img{
        height: 25px;
    }
    .s-card-grp{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 12vh;
    }
    .footer{
        height: 2vh;
        font-size: 0.5rem;
    }

    .card-grp{
        bottom: 4vh;
    }

    button{
        margin:0.3rem;
        padding: 0.3rem;
    }

    .s-card{
        width: 45%;
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255,0.3);
        align-items: center;
        border-radius: 10px;
    }
    .s-card .s-card-title{
        font-size: 0.8rem;
        color: white;
        margin: 0.5rem;
        text-align: center;
    }

    .s-card .s-card-body{
        margin: 0.2rem;
    }

    .s-card-body span{
        padding: 0;
        font-size: 0.7rem;
        color: white;
        text-align: center;
    }

}


.navActive {
    transform: translate(0%);
}
@keyframes SlideIn {
    from {
        opacity: 0;
        transform: translate(250px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.navBtnToggle .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.navBtnToggle .line2 {
    transform: scale(0) translate(10px, 0);
}

.navBtnToggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}