/*Loader CSS*/
.none{
    display: none !important;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    margin-top: 12vh;
    right: 0;
    visibility: hidden;
    width: 120px;
    background:rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}
.disabled{
    pointer-events: none;
}

a{
    display: flex;
}

.flex{
    display: flex !important;
}


.pane-loader{
    min-height: 70vh;
    min-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pane .card-loader{
    width: 93vw;
    border-radius: 20px;
    height: 72vh;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.detail-pane{
    min-width: 80%;
    max-width: 90%;
    margin-top: 6vh;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-pane{
    min-height: 75vh;
    width: 100%;
    min-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0,0,0,0.3);
    margin: 1rem;
    margin-top: 0;
    padding: 1rem 0;
    border-radius: 50px;
    overflow-y: auto;
}

.filter-pane{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
    min-height: 80px;
    background: rgba(0,0,0,0.3);
    border-radius: 50px;
    color: #fff;
    padding: 10px;
}
.card-description{
    font-size: 1rem;
    font-weight: 400;
}
.add-card-mb{
    display: none;
    position: absolute;
    border-radius: 50px;
    right: 2vw;
    bottom: 2vh;
    background: rgba(255, 0, 0, 0.7);
}


.add-card-mb .card-image{
    padding: 0.5rem;

}

.add-card:hover{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff;
}
.add-card{
    position: absolute;
    top: 12vh;
    /*bottom: 1vh;*/
    right: 1vw;
    display: flex;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.add-card .line{
    height: 80%;
    border: 1px solid #8b8282;
    color: black;
    background: black;
}

.add-card .card-image{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.add-card .card-image img{
    width: 50px;
    height: 50px;
}

.add-card .card-title{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.filter-pane .search-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.filter-pane .search-input .search{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-pane .search-input .search-box{
    border-radius: 50px;
    padding: 0.7rem;
    width: 400px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    text-align: center  ;
}
.filter-pane .search-input input{
    background: rgba(255,255,255,0.7);
}

.filter-pane .search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
}

.filter-card{
    margin:0.8rem;
}

.filter-card .card-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-card .card-navigation .page-numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: black;
}
.filter-card .card-navigation .page-numbers .page-number{
    background: rgba(255,255,255,1);
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    font-weight: bold;
    color: black;
}

.filter-card .card-navigation .page-numbers .active{
    background: rgb(167, 0, 0);
    color: #fff;
}
.filter-card .card-navigation .page-numbers .active a{
    color: white;
}
/*.filter-card .card-navigation div{*/
/*    background: white;*/
/*    padding: 0.3rem 0.6rem;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    border-radius: 50px;*/
/*}*/

.filter-card .card-navigation .nav-btn{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.empty-card, .detail-card{
    background: rgba(255,255,255,0.7);
    display: flex;

}

.empty-card{
    align-self: center;
    flex-direction: row;
    width: 400px;
    height: 200px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}


.detail-card{
    flex-direction: column;
    width: 220px;
    height: 280px;
    border-radius: 50px;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    text-align: center;
}

.detail-card:hover{
    cursor: pointer;
}
.status:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
}
.status.open:before {
    background-color: #2aff00;
    border-color: #24ff00;
    box-shadow: 0 0 4px 1px #1ece00;
}
.detail-card .card-image{
    width: 150px;
    height: 150px;
    max-width: 80%;
    min-height: 60%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.detail-card .card-image img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 50px;
    margin: 0.1rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.detail-card .card-body{
    margin: 0.5rem;
    width: 100%;
}


.detail-card .card-header{
    display: flex;
    flex-direction: column;
}

.detail-card .card-title{
    font-weight: bold;
    font-size: 1.2rem;
}

.detail-card .card-body ul{
    width: 100%;
    text-decoration: none;
    list-style: none;
}
.detail-card .card-body .detail-list .detail{
    font-size: 1.2rem;
    margin: 0.4rem;
}
.detail-card .card-footer{
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-card .card-footer a{
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: white;
    background: #4c0000;
}
::-webkit-scrollbar {
    color: #4c0000;
}
@media only screen and (max-width: 1280px) {
    .pane-loader img {
        width: 150px;
    }
    .card-pane{
        min-height: 65vh;
        max-height: 65vh;
    }
    .add-card{
        width: 160px;
        height: 90px;
        top: 13vh;
        right: 10px;
    }
    .add-card .card-image{
        padding: 0.5rem;
    }
    .add-card .card-image img{
        width: 50px;
    }
    .add-card .card-title{
        font-size: 0.8rem;
    }

    .detail-card {
        width: 150px;
        height: 220px;
    }

    .detail-card .card-image{
        padding: 0;
    }
    .detail-card .card-image img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .detail-card .card-body{
        margin: 0;
    }
    .detail-card .card-body .card-title{
        font-size: 1rem;
    }
    .detail-card .card-body .card-description{
        font-size: 0.9rem;
    }
    .detail-card .card-body .detail-list .detail {
        font-size: 1.2rem;
        margin: 0.1rem;
    }
    .detail-card .card-footer a {
        text-decoration: none;
        background: rgb(76, 0, 0);
        color: white;
        margin: 0.4rem 0;
        padding: 0.5rem 1rem;
        border-radius: 50px;
    }

}
@media only screen and (max-width: 500px){
    .pane-loader img {
        width: 100px;
    }
    .detail-pane{
        max-width: 95%;
    }

    .add-card{
        display: none;
    }

    .add-card-mb{
        display: flex;
    }
    .filter-pane{
        max-width: 100%;
        min-height: 60px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .filter-pane .search-input .search{
        font-size: 1.2rem;
        gap: 10px;
    }
    .filter-pane .search-input .search-box {
        border-radius: 50px;
        padding: 0.5rem;
        font-size: 1rem;
        width: 200px;
    }
    .filter-pane .search-input .search-icon img{
        width: 30px;
    }

    .filter-card{
        margin-top: 0.5rem;
    }

    .filter-card img{
        width: 20px;
    }

    .filter-card .page-numbers{
        gap: 0.5rem !important;
    }
    .filter-card .page-numbers .page-number{
        padding: 0.1rem 0.4rem !important;
        font-size: small;
        display: flex;
        align-items: center;
    }


    .card-pane{
        max-height: 78vh;

    }


    .add-card{
        width: 200px;
        height: 100px;
        top: 15vh;
    }
    .add-card .card-image{
        padding: 0.5rem;
    }
    .add-card .card-image img{
        width: 50px;
    }

    .detail-card{
        width: 130px;
        height: 180px;
        flex-direction: column;
        margin: 0.5rem;
    }

    .detail-card .card-image{
        padding: 0;
    }

    .detail-card .card-image img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    .detail-card .card-body{
        margin: 0;
    }
    .detail-card .card-title{
        font-size: 0.8rem !important;
    }
    .detail-card .card-description{
        font-size: 0.6rem !important;
    }
    .detail-card .card-body .detail-list .detail {
        font-size: 0.8rem;
        margin: 0.05rem;
    }
    .detail-card .card-footer{
        display: none;
    }

    .detail-card .card-footer a{
        padding: 0.5rem 1rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

}
@media only screen and (max-width: 320px){
    .pane-loader img {
        width: 80px;
    }
    .filter-pane{
        margin-top: 1rem;
        min-height: 35px;
        width: 100%;
    }
    .filter-pane .search-input .search{
        font-size: 0.7rem;
        gap: 10px;
    }
    .filter-pane .search-input .search .search-box{
        font-size: 0.8rem;
        width: 150px;
        border: none;
    }
    .filter-pane .search-input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .filter-pane .search-input .search-box {
        border-radius: 50px;
        padding: 0.2rem;
        font-size: 1rem;
        width: 200px;
    }
    .filter-pane .search-input .search-icon img{
        width: 20px;
    }


    .detail-card{
        padding: 0.5rem;
        width: 120px;
        height: auto;
        border-radius: 30px;
    }

    .detail-card .card-title{
        font-size: 0.6rem;
    }

    .detail-card .card-body .detail-list .detail{
        font-size: 0.5rem;
    }

    .detail-card .card-image{
        height: auto;
    }

    .detail-card .card-image img{
        width: 80%;
        height: 60%;
    }

}